.nav {
    font-family: 'Spicy Rice', cursive;
}

body {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.marginNvR {
    margin-left: auto;
    margin-right: 5%;
}

.marginNvL {
    margin-left: 5%;
}

footer {
    background: #F0F2F0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000C40, #F0F2F0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}