
<%- include ('partials/head.html') %>

    <body>

        
            <%- include ('partials/navigation.html') %>

                <div class="container">
                    <header class="row">
                        <div class="col -lg-12 text-center">
                            <img class="img-fluid animate__animated animate__backInDown " src="/img/ciel-h.jpg"
                                alt="Marca de agua Alu-Naofumi" />
                        </div>
                    </header>
                </div>

            

                <!--SECTION ONE-->
                <div  id="about">
                    <div class="row bg-dark text-white p-5 text-center">
                        <div class="col-sm-6">
                            <i class="fab fa-youtube fa-10x"></i>
                        </div>
                        <div class="col-sm-6">
                            <h3>cualquier cosa no se, suscribete men te gustara,
                                hay galletitas negras de chocolate</h3>
                             
                            <p>Suscribete ademas al canal , podras estar al tanto de las actualizaciones , videos noticias todo sobre el tema, ademas puedes unirte a mi patrion y apoyar este trabajo</p>

                            <p>Gracias por apoyarnos!!</p>
                        </div>
                    </div>
                </div>
                <!--SECTION TWO-->


                <%- include ('partials/footer.html') %>
          